<!doctype html>
<html>
<head>
    <title>{{ tab_title }}</title>
    <script src="static/Chart.bundle.js"></script>
    <script src="static/utils.js"></script>
    <script src="static/vue.js"></script>
    <script src="static/axios.js"></script>
    <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
        #container {
            display: flex;
        }
    </style>
</head>
<body>
    <div id="container">
       <div id="selectdiv" v-on="{ change: refresh }">
            <p>Select ID</p>
            <select v-model="selected1" size='45'>
                {% for url in url_list %}
                    <option> {{ url  }} </option>
                {% endfor %}
            </select>
        </div>
        <div style="height: {{ graph_y_px }}px; width: {{ graph_x_px }}px;">
            <canvas id="canvas" v-on="{ mousedown: get_start_coordinates, mouseup: get_box}"></canvas>
        </div>
        <div id="textwindow">
            <li v-for='item in items'>
                {{ '{{ item }}'}}
            </li>
        </div>
    </div>
 
    <script>
        var color = Chart.helpers.color;
        var scatterChartData = {
            datasets: [{
                label: "",
                borderColor: window.chartColors.blue,
                backgroundColor: color(window.chartColors.blue).alpha(0.2).rgbString(),
                data: [{
                    x: randomScalingFactor(),
                    y: randomScalingFactor(),
                }]
            }]
        };
        var textblock = new Vue({
            el: '#textwindow',
            data: {
                items: {}
            }
        });
        var selectid = new Vue({
            el: '#selectdiv',
            data: {
                selected1: '0',
            },
            methods: {
                loadurl: function(urlname1) {
                    this.selected1 = urlname1;
                    this.get_data_set(urlname1, 0);
                },
                refresh: function() {
                    this.get_data_set(this.selected1, 0);
                },
                get_data_set: function(url, set) {
                    axios.get("http://localhost:5000/getretina/" + url)
                        .then(response => {
                            scatterChartData.datasets[set].data = response.data;
                            scatterChartData.datasets[set].label = url;
                            console.log(url);
                            //console.log(response.data);
                            window.myScatter.update();
                            theCanvas.get_word_set(url);
                            theCanvas.draw_box();
                        })
                        .catch(error => {
                            scatterChartData.datasets[set].data = [];
                            scatterChartData.datasets[set].label = url;
                            console.log("WHOA, there was an error");
                        }) 
                },

           }
        });

        var theCanvas = new Vue({
            el: '#canvas',
            data: {
                startx: 0,
                starty: 0,
                endx: 0,
                endy: 0,
                fpx0: '',
                fpx1: '',
                fpy0: '',
                fpy1: '',
                offsetLeft: 0,
                offsetTop: 0,
                left: 0
            },
            methods: { 
                get_start_coordinates: function(event) {
                    this.startx = event.pageX;
                    this.starty = event.pageY;
                },
                get_box: function(event) {
                    var metadata = window.myScatter.getDatasetMeta(0);
                    this.left = metadata.dataset._chart.chartArea.left;
                    var top = metadata.dataset._chart.chartArea.top;
                    var right = metadata.dataset._chart.chartArea.right;
                    var bottom = metadata.dataset._chart.chartArea.bottom;
                    var offsetHeight = metadata.dataset._chart.canvas.offsetHeight;
                    var offsetWidth = metadata.dataset._chart.canvas.offsetWidth;
                    this.offsetTop = metadata.dataset._chart.canvas.offsetTop;
                    this.offsetLeft = metadata.dataset._chart.canvas.offsetLeft;

                    this.endx = event.pageX;
                    this.endy = event.pageY;
                    var slopex = {{ graph_size }}/(right - this.left);
                    var slopey = -{{ graph_size }}/(bottom - top);
                    var interceptx = -this.left * slopex;
                    var intercepty = -bottom * slopey;
                    this.fpx0 = String(Math.round(slopex * (this.startx - this.offsetLeft) + interceptx));
                    this.fpy0 = String(Math.round(slopey * (this.starty - this.offsetTop) + intercepty));
                    this.fpx1 = String(Math.round(slopex * (this.endx - this.offsetLeft) + interceptx));
                    this.fpy1 = String(Math.round(slopey * (this.endy - this.offsetTop) + intercepty));
                    this.get_word_set(selectid.selected1);
                    this.draw_box();
                },
                get_word_set: function(url) {
                    var reqString = url
                       + "&" + this.fpx0
                       + "&" + this.fpx1
                       + "&" + this.fpy0
                       + "&" + this.fpy1;
                    axios.get("http://localhost:5000/getwords/" + reqString)
                        .then(response => {
                            textblock.items = response.data;
                            console.log(url);
                        })
                        .catch(error => {
                            console.log("WHOA, there was an error");
                        }) 
                },
                draw_box: function() {
                    var can = document.getElementById("canvas"), ctx = can.getContext('2d');
                            var canvasStartX = this.endx - this.offsetLeft;
                            var canvasStartY = this.endy - this.offsetTop;
                            var canvasDeltaX = this.startx - this.endx;
                            var canvasDeltaY = this.starty - this.endy;
                            ctx.rect(canvasStartX,canvasStartY,canvasDeltaX, canvasDeltaY);
                            ctx.stroke(); 
                },
            }
        });


        window.onload = function() {
            var ctx = document.getElementById("canvas").getContext("2d");
            window.myScatter = Chart.Scatter(ctx, {
                data: scatterChartData,
                options: {
                    showLines: false,
                    animation: {
                        duration: 0,
                    },
                    maintainAspectRatio: false,
                    scales: {
                        xAxes: [{
                            ticks: {
                                min: 0,
                                max: {{ graph_size }} - 1 
                            }
                        }],
                        yAxes: [{
                            ticks: {
                                min: 0,
                                max: {{ graph_size }} - 1 
                            }
                        }]
                    },
                    title: {
                        display: true,
                        text: '{{ page_title }}' 
                    },
                }
            });
        };
    </script>
</body>

</html>